.mat-tab-group {
    display: flex;
    justify-content: center;
}

.background-div {
    width: 100%;
    background-color: #90c1e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    min-height: 74.5vh;
}

.centro-div {
    width: 90%;
    background-color: #D9D9D9;
    padding: 2rem;
}

.centro-div > img { 
    width: 100%;
    height: 100%;
}

.dashboards-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.pais-div {
    width: 55%;
    display: flex;
    justify-content: flex-start;
}

.pais-div > img{
    width: 100%;
}

.pizza-div > img {
    width: 100%;
    margin-bottom: 2rem;
}

.pizza-div  {
    width: 42%;
}
.barra {
    width: 100%;
    height: 1rem;
    background-color: #00579D;
}

.loading > p {
    color: #ffffff;
    margin-bottom: 1rem;
}

.dashboard-1:hover {
    scale: 1.02;
} 

.dashboard-1 {
    transition-duration: .3s;
    cursor: pointer;
}
.pizza-div>img { 
    width: 100%;
}
