<div class="carrinho" [ngClass]="{'carrinho-opened': isOpen, 'carrinho-closed': !isOpen}">
    <section class="container-header">
        <div class="blue-bar"></div>
        <div class="label-container">
            <div>
                <p>CARRINHO</p>
                <div></div>
            </div>
        </div>
        <div>
            <mat-icon (click)="closeCart()">close</mat-icon>
        </div>
    </section>

    <section class="container-body">
        <section class="container-product" *ngFor="let produto of produtos">
            <img [src]="produto.url" alt="">
            <div class="product-name">
                {{ produto.productName }} 
            </div>
            <div>
                <mat-icon (click)="deleteProduct(produto)">delete_outline</mat-icon>
            </div>
        </section>
    </section>

    <section class="container-footer">
        <div (click)="navigateTo()">
            <button>Ir para carrinho</button>
        </div>
        <div class="blue-bar"></div>
    </section>
</div>
<div class="shadow" *ngIf="isOpen" (click)="closeCart()"></div>