
section {
    overflow-x: hidden;
    font-family: sans-serif;
    font-weight: 100;
}

#categories-container {
    margin-top: 10px;
}

#ad-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

#ad-container img {
    max-height: 330px;
}

