<section>
    <div id="carousel-container">
        <app-carousel></app-carousel>
    </div>
    <div id="categories-container">
        <app-main-menu-categories></app-main-menu-categories>
    </div>
    <div id="recomendation-container">
        <div id="label-container">
            <div>
                <h2>PRODUTOS MAIS VENDIDOS</h2>
                <div></div>
            </div>
        </div>
        <div id="recomendations">
            <div class="frame-container" *ngFor="let produto of listaDeProdutos" (click)="navigateTo(produto.productName)">
                <app-item-frame>
                    <div class="frame-content" item_frame_container>
                        <div class="img-container">
                            <img [src]="produto.url">
                        </div>
                        <div class="label-container">
                            <p>{{produto.productName}}</p>
                        </div>
                    </div>
                </app-item-frame>
                <button class="frame-button">
                    <span>VER MAIS</span>
                    <img src="/assets/images/carrinhoWEG.png">
                </button>
            </div>
        </div>
    </div>
    <div id="ad-container">
        <img src="/assets/homeImages/ad_image.png">
    </div>
</section>
<app-footer-component></app-footer-component>