<app-page>
    <section>
        <div id="carousel-container">
            <app-carousel></app-carousel>
        </div>
        <div id="categories-container">
            <app-main-menu-categories></app-main-menu-categories>
        </div>
        <div id="recomendation-container">
            <div id="label-container">
                <div>
                    <h2>PRODUTOS MAIS VENDIDOS</h2>
                    <div></div>
                </div>
            </div>
            <div id="recomendations">
                <div class="frame-container" routerLink="/product-page/W22">
                    <app-item-frame>
                        <div class="frame-content" item_frame_container>
                            <div class="img-container">
                                <img src="https://static.weg.net/medias/images/h39/hf5/BRASIL_W22_Plus_Premium_225_355_IE3_B3Dnew_1200Wx1200H.jpg">
                            </div>
                            <div class="label-container"><p>W22</p></div>
                        </div>
                    </app-item-frame>
                    <div class="frame-button">
                        <span>VER MAIS</span>
                        <img src="/assets/images/carrinhoWEG.png">
                    </div>
                </div>
                <div class="frame-container">
                    <app-item-frame>
                        <div class="frame-content" item_frame_container>
                            <div class="img-container">
                                <img src="/assets/homeImages/quadro_de_distribuicao.png">
                            </div>
                            <div class="label-container"><p>Quadro de Distribuição QDW</p></div>
                        </div>
                    </app-item-frame>
                    <div class="frame-button">
                        <span>VER MAIS</span>
                        <img src="/assets/images/carrinhoWEG.png">
                    </div>
                </div>
                <div class="frame-container">
                    <app-item-frame>
                        <div class="frame-content" item_frame_container>
                            <div class="img-container">
                                <img src="/assets/homeImages/quadro_de_distribuicao.png">
                            </div>
                            <div class="label-container"><p>Quadro de Distribuição QDW</p></div>
                        </div>
                    </app-item-frame>
                    <div class="frame-button">
                        <span>VER MAIS</span>
                        <img src="/assets/images/carrinhoWEG.png">
                    </div>
                </div>
                <div class="frame-container">
                    <app-item-frame>
                        <div class="frame-content" item_frame_container>
                            <div class="img-container">
                                <img src="/assets/homeImages/quadro_de_distribuicao.png">
                            </div>
                            <div class="label-container"><p>Quadro de Distribuição QDW</p></div>
                        </div>
                    </app-item-frame>
                    <div class="frame-button">
                        <span>VER MAIS</span>
                        <img src="/assets/images/carrinhoWEG.png">
                    </div>
                </div>
                <div class="frame-container">
                    <app-item-frame>
                        <div class="frame-content" item_frame_container>
                            <div class="img-container">
                                <img src="/assets/homeImages/quadro_de_distribuicao.png">
                            </div>
                            <div class="label-container"><p>Quadro de Distribuição QDW</p></div>
                        </div>
                    </app-item-frame>
                    <div class="frame-button">
                        <span>VER MAIS</span>
                        <img src="/assets/images/carrinhoWEG.png">
                    </div>
                </div>
            </div>
        </div>
        <div id="ad-container">
            <img src="/assets/homeImages/ad_image.png">
        </div>
    </section>
    <app-footer-component></app-footer-component>
</app-page>