<div class="recomendation-container">
    <div class="label-container">
        <div>
            <h2>PRODUTOS FAVORITOS</h2>
            <div></div>
        </div>
    </div>
    <div class="recomendations">
        <div class="div-pedidos">
            <app-item-frame>
                <div class="div-lista-pedidos" item_frame_container>
                    <table>
                        <tbody>
                            <tr *ngFor="let produto of listaDeProdutos">
                                <td class="imagem-produto">
                                    <img [src]="produto.url" alt="" class="imagem-produto">
                                </td>
                                <td class="nome-produto">{{produto.productName}}</td>
                                <td class="coluna-botao">
                                    <div class="buttons-div">
                                        <button class="ver-detalhes-button" (click)="navigateTo(produto.productName)" >Ver datalhes</button>
                                        <button class="ver-detalhes-button">Desfavoritar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mostrar-mais">
                        <p (click)="buscarMais()">Mostrar mais</p>
                    </div>
                </div>
            </app-item-frame>
        </div>
    </div>
</div>