.container-cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #00579D;
    width: 100%;
    height: 88px;
    align-items: center;
}

.container-cabecalho section {
    height: 100%;
}

.container-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.container-doubleGrid {
    display: flex;
    align-items: center;
    user-select: none;
}


.container-pesquisa {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0 1.7%;
    user-select: none;

}


.div-inputPesquisa {
    height: 40%;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

.div-inputPesquisa>input {
    font-size: 15px;
    border: none;
    width: calc(100% - 50px);
    background-color: transparent;
    outline: none
}

.linhaNaBarraDePesquisa {
    background-color: #00579D;
    border-radius: 50px;
    height: 20px;
    width: 1px;
}

.container-fraseLogin {
    height: 100%;
    width: 140px;
}

.div-fraseLogin {
    width: 135px;
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: white;
}

.div-fraseLogin>h1 {
    color: white;
    display: flex;
    align-items: center;
}

.div-fraseLogin a {
    color: white;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

.div-inputPesquisa>img {
    width: 25px;
    float: left;
}

.centered-text {
    position: absolute;
    top: 43px;
    left: 30px;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #fff;
}

.container-carrinho {
    display: flex;
    align-items: center;
    width: 5%;
    user-select: none;
    cursor: pointer;
    transition-duration: .1s;
    position: relative;
  
}

.container-carrinho:hover {
    scale: 1.1;
}

.container-carrinho>img {
    height: 40%;
}

.container-linguagem {
    width: 6%;
    display: flex;
    align-items: center;
    margin: 0 0.5%;
    user-select: none;
}

.container-linguagem>img {
    width: 38px;
}

.container-linguagem>img~img {
    width: 24px;
    rotate: 90deg;
}

@media screen and (max-width:850px) {

    .container-doubleGrid {
        display: none;
    }

    .container-carrinho {
        width: 10%;
    }

    .container-linguagem {
        display: none;
    }

}

.div-iconeLogado {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.1s;
    cursor: pointer;
}

.div-iconeLogado:hover {
    scale: 1.1;
}

.div-iconeLogado > div {
    width: 25%;
}

.userIcone {
    width: 100%;
}

.userSetaOff {
    transition-duration: 0.2s;
    rotate: 90deg;
    width: 20%;
}

.userSetaOn {
    transition-duration: 0.2s;
    rotate: -90deg;
    width: 20%;
}

/* Modal login ---------*/

.div-itemFrame {
    position: absolute;
    top: 75px;
    right: 17%;
    z-index: 12;
}

@keyframes userOpen {
    0% {
        height: 0px;
    }

    100% {
        height: 130px;
    }
}

.div-modalUsuario {
    background-color: #fff;
    border-radius: 10px;
    width: 215px;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    animation: userOpen 300ms ease;
}

.div-modalUsuario>p {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 12px;
    cursor: pointer;
}

.div-modalUsuario>div {
    height: 1px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.40);
}

.shadow {
    position: fixed;
    margin-top: 88px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    
}

.search-icon:hover {
    scale: 1.15;
    transition-duration: .2s;
}

.search-icon { 
    transition-duration: .2s;
}