<header class="container-cabecalho">
    <section class="container-logo" routerLink="/home-page">
        <img src="/assets/images/Weg-Logo_Invertida.png" width="100px">
    </section>
    <section class="container-doubleGrid">
        <img src="/assets/images/double-grid-weg.png" width="220px">
    </section>
    <section class="container-pesquisa">
        <div class="div-inputPesquisa">
            <input type="text" [(ngModel)]="pesquisa" placeholder="Buscar por produto, categoria ou códigos"
                (keydown)="onEnter($event)" maxlength="55">
            <span class="linhaNaBarraDePesquisa"></span>
            <img src="/assets/images/Pesquisa.png" (click)="onEnter(true)" alt="" class="search-icon">
        </div>
    </section>
    <section class="container-fraseLogin">
        <div class="div-iconeLogado" (click)="userShow()">
            <div [matBadge]="1" matBadgeSize="small" [matBadgeHidden]="!notificationBoolean">
                <img class="userIcone" src="/assets/images/logoLogado.png">
            </div>
            <img [ngClass]="{'userSetaOn': isOpenUser, 'userSetaOff': !isOpenUser}"
                src="/assets/images/setaLinguagem.png">
        </div>
        <div class="div-itemFrame" *ngIf="isOpenUser">
            <app-item-frame>
                <div class="div-modalUsuario" item_frame_container>
                    <p (click)="navegateTo('')">MINHA CONTA</p>
                    <div class="line"></div>
                    <p (click)="navegateTo('notificacao')">NOTIFICAÇÕES</p>
                    <div class="vendas" *ngIf="admin">
                        <div class="line"></div>
                        <p (click)="navegateTo('vendas')">ESTRATÉGIA DE VENDAS</p>
                    </div>
                    <div class="line"></div>
                    <p (click)="openDialog()">SAIR</p>
                </div>
            </app-item-frame>
        </div>
    </section>
    <section (click)="cartShow()" class="container-carrinho">
        <p class="centered-text">{{ quantidadeProdutos }}</p>
        <img src="/assets/images/carrinhoWEG.png" alt="">
    </section>
    <!-- <section class="container-linguagem">
        <img src="/assets/images/bandeiraBrasil.png">
        <img src="/assets/images/setaLinguagem.png">
    </section> -->
    <app-cart-component [isOpen]="isOpenCart" (closeCartEvent)="cartShow()"></app-cart-component> <!-- Cart -->
    <div *ngIf="isOpenUser" (click)="userShow()" class="shadow"></div>
</header>

