.display-item-div {
    margin-top: 2px;
    width: 100%;
    height: 80.5vh;
    display: flex;
    justify-content: space-evenly;
}


.prod-img-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.prod-img-div>img {
    width: 80%;
}

.prod-img-div>p {
    opacity: 0.5;
    font-size: 1rem;
}


.box-txt-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.box {
    border: solid 2.5px #00579D;
    border-radius: 10px;
    padding: 10px 35px 10px 35px;
    display: flex;
    flex-direction: column;
}

.description-div>p {
    font-size: 1rem;
    text-align: justify;
}



.layoult {
    padding: 20px 0px 20px 0px;
}


.line-div {
    height: 2px;
    background-color: #00579D;
    border-radius: 10px;
}


.buttons-div {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
    width: 47%;
    font-size: 0.9rem;
    background-color: #0090C5;
}

.buttons-div button:first-child {
    background-color: #00579D;
}

@media (max-width: 768px) {
    .button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .description-div>p {
        font-size: 0.8rem;
    }
}

.break-line {
    width: 70%;
    height: 5px;
    background-color: #00579D;
}

.break-line-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.aaaa {
    height: 500px;
    background-color: #0090C5;
}

.sobre-produto-div {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00579D;
    color: #fff;
    cursor: pointer;
}

.sobre-produto-div>p {
    padding: 0 90px 0 90px;
    font-size: 1.3rem;
}

.seta-img {
    padding: 0 90px 0 90px;
    width: 25px;
    rotate: 90deg;
    transition-duration: .4s;
}

.seta-img.open {
    rotate: -90deg;
}

.more-info-div {
    max-height: 0;
    padding: 0 90px;
    overflow: hidden;
    opacity: 0;
    transition-duration: .4s;
}

.more-info-div.open {
    max-height: 500px;
    padding: 20px 90px;
    opacity: 1;
    width: 70%;
    transition-duration: .4s;
}

.more-info-div>h4 {
    color: #00579D;
}

.more-info-div>h4,
.more-info-div>ul>li {
    padding: 5px 0 5px 0;
}

/* comentários */

#comment-container {
    margin-top: 25px;
}

#comment-container>div {
    padding-left: 90px;
    padding-right: 90px;
}

#comment-container #label-container {
    width: fit-content;
}

#comment-container #label-container h2 {
    padding: 0 10px 5px 10px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
}

#comment-container #label-container>div>div {
    width: 100%;
    height: 5px;
    background: #0090c5;
    border-radius: 10px;
}

#comments {
    display: grid;
    width: calc(100% - 180px);
    background: #90c1e3;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: 60% 40%;
}

.first-column {
    grid-column: 1;
}

.comments-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    margin-top: 10px;
}

.item-frame {
    width: 100%;
}

.comment {
    width: 100%;
    max-height: 100%;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 20px 15px 10px;
}

.comment-name {
    margin-bottom: 10px
}

.comment-comment {
    font-size: 15px;
    text-align: justify;
}

.comment-show {
    margin-top: 10px;
    font-size: 14px;
    color: #00579D;
    cursor: pointer;
    width: fit-content;
}

.answer {
    transition-duration: .4s;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.answer-open {
    transition-duration: .4s;
    max-height: max-content;
    opacity: 1;
    overflow: visible;
    padding: 5px 0px 10px 0px;
}

.answer-div {
    margin-top: 10px;
}

.second-column {
    width: 100%;
    display: flex;
    justify-content: center;
}

.question-item-frame {
    margin-top: 10px;
    width: 80%;
}

.question-container,
.answer-container {
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.answer-container {
    height: 100%;
}
.question-tittle {
    width: 100%;
    height: 2rem;
}

.question-text,
.answer-text {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    resize: none;
    padding: 5px;
    font-size: 15px;
    font-family: sans-serif;
}

.answer-text {
    height: 20%;
}

.question-container>button{
    padding: 6px;
    width: 100px;
    margin-top: .5rem;
    margin-right: .5rem;
}

.answer-container > button {
    margin-top: .5rem;
    width: 150px;
}

.show-more-comments {
    margin-top: 18px;
    width: 130px;
    height: 40px;
    color: black;
    background-color: white;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .25);
}

.noComment-container {
    width: 100%;
    height: 55px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.noComment-container>p {
    padding-left: 5%;
}

.questionsAswers-div {
    display: flex;
    justify-content: space-between;
}

.send-answer {
    width: 150px;
}