.display-item-div {
    margin-top: 2px;
    width: 100%;
    height: 80.5vh;
    display: flex;
    justify-content: space-evenly;
}


.prod-img-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.prod-img-div > img { 
    width: 80%;
}

.prod-img-div > p {
    opacity: 0.5;
    font-size: 1rem;
}


.box-txt-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.box {
    border: solid 2.5px #00579D;
    border-radius: 10px;
    padding: 10px 35px 10px 35px;
    display: flex;
    flex-direction: column;
}

.description-div > p {
    font-size: 1rem;
    text-align: justify;
}



.layoult {
    padding: 20px 0px 20px 0px;
}


.line-div {
    height: 2px;
    background-color: #00579D;
    border-radius: 10px;
}


.buttons-div {
    display: flex;
    justify-content: space-between;
}

.buttons-div > button {
    border: none;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
    width: 47%;
    font-size: 0.9rem;
  }

.buttons-div button:first-child{
    background-color: #00579D;
}

.buttons-div button:last-child {
    background-color: #0090C5;
}
  
  @media (max-width: 768px) {
    .button {
      padding: 8px 16px;
      font-size: 14px;
    }
    .description-div > p {
        font-size: 0.8rem;
    }
  }

.break-line  {
    width: 70%;
    height: 5px;
    background-color: #00579D;
}
.break-line-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.aaaa {
    height: 500px;
    background-color: #0090C5;
}

.sobre-produto-div {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00579D;
    color: #fff;
    cursor: pointer;
}

.sobre-produto-div > p {
    padding: 0 90px 0 90px;
    font-size: 1.3rem;
}

.seta-img{ 
    padding: 0 90px 0 90px;
    width: 25px;
    rotate: 90deg;
    transition-duration: .4s;
}

.seta-img.open {
    rotate: -90deg;
}

.more-info-div {
    max-height: 0;
    padding: 0 90px;
    overflow: hidden;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .more-info-div.open {
    max-height: 500px;
    padding: 20px 90px;
    opacity: 1;
    width: 70%;
    transition-duration: .4s;
  }

.more-info-div > h4 {
    color: #00579D;
}

.more-info-div > h4,
.more-info-div > ul > li {
    padding: 5px 0 5px 0;
}
