<app-barra-navegacao [links]='links'></app-barra-navegacao>

<div class="display-item-div">
    <div class="prod-img-div">
        <img [src]="product.urlImagem" alt="">
        <p>Imagem meramente ilustrativas</p>
    </div>
    <div class="box-txt-div">
        <div class="box">
            <div class="layoult title-div">
                <h2>{{product.nome}}</h2>
            </div>
            <div class="line-div"></div>
            <div class="layoult description-div">
                <p>{{product.descricao}}</p>
            </div>
            <div class="layoult buttons-div">
                <button>Entrar em contato conosco</button>
                <button (click)="adicionarAoCarrinho()">{{ !includesInCart() ? "Adicionar no carrinho" : "Produto
                    adicionado no carrinho"}}</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="product.especificacoes.length > 0;">
    <div class="sobre-produto-div" (click)="openMoreInfo()">
        <p>Sobre o produto</p>
        <img src="/assets/icons/setaIcon.png" alt="" [ngClass]="{'open' : moreInfo}" class="seta-img">
    </div>

    <div class="more-info-div" [ngClass]="{ 'open': moreInfo }">
        <h4>Características Técnicas</h4>
        <ul>
            <li *ngFor="let item of product.especificacoes">{{ item.especificacao }}</li>
        </ul>
    </div>
</div>

<div>
    <div id="comment-container">
        <div id="label-container">
            <div>
                <h2>PERGUNTAS FREQUENTES</h2>
                <div></div>
            </div>
        </div>
        <div id="comments">
            <div class="first-column" *ngIf="product?.listaDeComentarios?.length > 0">
                <div *ngFor="let comment of product.listaDeComentarios; let index = index" class="comments-div">
                    <app-item-frame class="item-frame">
                        <div class="comment" item_frame_container>
                            <div class="comment-name-date-div">
                                <p class="comment-name">{{ comment.pessoa.nome }}</p>
                                <p class="comment-date">{{ comment.data }}</p>
                            </div>
                            <p class="comment-comment">{{ comment.pergunta }}</p>
                            <div class="questionsAswers-div">
                                <div (click)="showAnswers(comment.id)" class="comment-show"
                                    *ngIf="comment.listaRespostas.length > 0">
                                    {{showMoreLess[comment.id - 1] || 'Mostrar mais' }}
                                </div>
                                <!-- LÓGICA DO ADM -->
                                <div class="comment-show" *ngIf="true" (click)="scrollToResposta(comment.id)">
                                    Responder
                                </div>
                            </div>
                        </div>
                    </app-item-frame>
                    <div [ngClass]="{'answer-open': isAnsersVisibles(comment)}" class="answer">
                        <div *ngFor="let answer of product.listaDeComentarios[index].listaRespostas" class="answer-div">
                            <app-item-frame class="item-frame">
                                <div class="comment" item_frame_container>
                                    <div class="comment-name-date-div">
                                        <p class="comment-name">{{ answer.pessoa.nome }}</p>
                                        <p class="comment-date">{{ answer.data }}</p>
                                    </div>
                                    <p class="comment-comment">{{ answer.resposta }}</p>
                                </div>
                            </app-item-frame>
                        </div>

                        <div class="answer-div" *ngIf="true" [id]="'resposta' + (comment.id-1)">
                            <app-item-frame class="question-item-frame">
                                <div class="answer-container" item_frame_container>
                                    <p class="question-tittle">Responder</p>
                                    <textarea class="answer-text" [(ngModel)]="answersList[comment.id - 1]"
                                        [id]="'textarea' + (comment.id-1)"></textarea>
                                    <button (click)="toAnswer(comment)">Enviar resposta</button>
                                </div>
                            </app-item-frame>
                        </div>
                    </div>
                </div>
                <button class="show-more-comments" *ngIf="!lastQuestion" (click)="nextPageComment()">Mostrar mais</button>
            </div>
            <div class="first-column" *ngIf="product?.listaDeComentarios?.length <= 0">
                <app-item-frame>
                    <div class="noComment-container" item_frame_container>
                        <p>Esse produto não tem nenhum pergunta ainda.</p>
                    </div>
                </app-item-frame>
            </div>
            <div class="second-column">
                <app-item-frame class="question-item-frame">
                    <div class="question-container" item_frame_container>
                        <p class="question-tittle">Faça sua pergunta</p>
                        <textarea class="question-text" [(ngModel)]="questionText"></textarea>
                        <button (click)="toComment()">Enviar</button>
                    </div>
                </app-item-frame>
            </div>
        </div>
    </div>
</div>
<button (click)="favoritar()">FAVORITAR</button>