<!-- <app-signup-page></app-signup-page> -->
<!-- <app-category-page></app-category-page> -->
<!-- <app-footer-component></app-footer-component> -->
<!-- <app-home-page></app-home-page> -->
<!-- <app-item-frame>
    <div class="content" item_frame_container></div>
</app-item-frame> -->
<!-- <app-main-menu-categories></app-main-menu-categories> -->
<!-- <app-carousel></app-carousel> -->
<!-- <app-header-component></app-header-component> -->
<!-- <app-header-login-component></app-header-login-component> -->
<!-- <app-cadastro></app-cadastro> -->
<!-- <app-login></app-login> -->
<!-- <app-signin-page></app-signin-page> -->
<!-- <app-barra-navegacao [links]='[{link:"texte", nomeLink: "motor"}, {link:"texte", nomeLink: "motor"}]'></app-barra-navegacao> -->

<main>
    <router-outlet></router-outlet>
</main>



