<header class="container-cabecalho">
    <section class="container-logo" routerLink="/home-page">
        <img src="/assets/images/Weg-Logo_Invertida.png" width="100px">
    </section>
    <section class="container-doubleGrid">
        <img src="/assets/images/double-grid-weg.png" width="220px">
    </section>
    <section class="container-pesquisa">
        <div class="div-inputPesquisa">
            <input type="text" placeholder="Buscar por produto, categoria ou códigos" maxlength="55">
            <span class="linhaNaBarraDePesquisa"></span>
            <img src="/assets/images/Pesquisa.png" alt="">
        </div>
    </section>
    <section class="container-fraseLogin">
        <div class="div-fraseLogin">
            Faça seu&nbsp;
            <a routerLink="/signin-page">login</a>
            &nbsp;ou<br>
            <a routerLink="/signup-page">cadastre-se</a>
        </div>
    </section>
    <section class="container-carrinho">
        <img src="/assets/images/carrinhoWEG.png" alt="">
    </section>
    <section class="container-linguagem">

        <img src="/assets/images/bandeiraBrasil.png">
        <img src="/assets/images/setaLinguagem.png" >
    </section>
</header>