<section class="container-category">
    <div>
        <div class="item-category" routerLink="/category-page/Motores Elétricos">
            <div class="img-container">
            <img src="/assets/mainMenuCategories/img/Motores Elétricos.png">
            </div>
            <div class="item-name-container">
                <p class="item-name">Motores Elétricos</p>
            </div>
        </div>
        <div class="item-category"  routerLink="/category-page/Critical Power">
            <div class="img-container">
                <img src="/assets/mainMenuCategories/img/Critical Power.png">
            </div>
            <div class="item-name-container">
                <p class="item-name">Critical Power</p>
            </div>
        </div>
        <div class="item-category"  routerLink="/category-page/Tintas">
            <div class="img-container">
                <img src="/assets/mainMenuCategories/img/Tintas e Vernizes.png">
            </div>
            <div class="item-name-container">
                <p class="item-name">Tintas</p>
            </div>
        </div>
        <div class="item-category" routerLink="/category-page/Geração de Energia">
            <div class="img-container">
                <img src="/assets/mainMenuCategories/img/Geração.png">
            </div>
            <div class="item-name-container">
                <p class="item-name">Geração de Energia</p>
            </div>
        </div>
        <div class="item-category"  routerLink="/category-page/Segurança de Máquinas">
            <div class="img-container">
                <img src="/assets/mainMenuCategories/img/Paineis Eletricos.png">
            </div>
            <div class="item-name-container">
                <p class="item-name">Segurança de Máquinas</p>
            </div>
        </div>
        <div class="item-category" routerLink="/category-page/Painéis Eletrônicos">
            <div class="img-container">
                <img src="/assets/mainMenuCategories/img/Building & Infrastructure.png">
            </div>
            <div class="item-name-container">
                <p class="item-name">Painéis Eletrônicos</p>
            </div>
        </div>
        <div class="item-category" routerLink="/category-page/Building & Infrastructure">
            <div class="img-container">
                <img src="/assets/mainMenuCategories/img/Redutor.png">
            </div>
            <div class="item-name-container">
                <p class="item-name">Building & Infrastructure</p>
            </div>
        </div>
        <div class="item-category" routerLink="/category-page/Redutores de Velocidade">
            <div class="img-container">
                <img src="/assets/mainMenuCategories/img/Sensor.png">
            </div>
            <div class="item-name-container">
                <p class="item-name">Redutores de Velocidade</p>
            </div>
        </div>
    </div>
</section>