<app-barra-navegacao [links]='pathBar'></app-barra-navegacao>  
<!-- ARRUMAR A PARTE DE PATH BAR E FAZER DINAMICAMENTE O CATEGORY PAGE -->
<div id="recomendation-container">
    <div id="label-container">
        <div>
            <div>
                <div class="img-container">
                    <img [src]="categoriaIcon" alt="">
                </div>
                <h2>{{ id }}</h2>
            </div>
            <div></div>
        </div>
    </div>
    <div id="recomendations">
        <div class="frame-container" *ngFor="let produto of listaDeProdutos">
            <app-item-frame (click)="redirect(produto.nome)">
                <div class="frame-content" item_frame_container>
                    <div class="img-container">
                        <img [src]="produto.urlIcone || produto.urlImagem">
                    </div>
                    <div class="label-container">
                        <p>{{ produto.nome }}</p>
                        <span>Saiba mais</span>
                    </div>
                </div>
            </app-item-frame>
        </div>
        <div class="popup-div">
            <p>Não encontrou o seu produto? Consulte o antigo catálogo eletrônico.</p>
        </div>
    </div>
</div>
<app-footer-component></app-footer-component>