<form>
    <main>
        <section class="Container-Login">
            <div class="Container-Titulo">
                Login
            </div>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Coloque seu email</mat-label>
                    <input matInput placeholder="conor@gmail.com" [formControl]="email" required name="email2" [(ngModel)]="email2">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"  name="senha" [(ngModel)]="senha" (keydown.enter)="logar()">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
            </div>
            <div class="Container-Botao_Entrar-Esqueceu_Senha">
                <div class="Container-Botao_Entrar">
                    <div class="Container-Botao_Entrar-Seta">
                        >
                    </div>
                    <div class="Container-Botao_Entrar-Texto" (click)="logar()">
                        Entrar
                    </div>
                </div>
                <div class="Container-Esqueceu_Senha">
                    <a href="">Esqueceu sua senha?</a>
                </div>
            </div>

            <div class="Container-Linha_Central"></div>

            <div class="Container-Novo_Cliente">
                <div class="Container-Novo_Cliente-Texto">
                    Novo cliente?
                </div>
                <div class="Container-Novo_Cliente-Botao" routerLink="/signup-page">
                    Criar conta
                </div>
            </div>
        </section>
    </main>
</form>