.recomendation-container {
    margin-top: 25px;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

.recomendation-container .label-container {
    width: fit-content;
    padding-left: 90px;
}

.recomendation-container .label-container h2,
.recomendation-container .label-inside-container h2 {
    padding: 0 10px 5px 10px;
}

.recomendation-container .label-container>div>div,
.blue-line {
    width: 100%;
    height: 5px;
    background: #0090c5;
    border-radius: 10px;
}

.label-inside-container {
    width: fit-content;
}

.div-perfil {
    display: flex;
    flex-direction: column;
    min-height: 72vh;
    background: #90c1e3;
    padding: 40px 90px 40px 90px;
}

.div-edicoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.div-edicao-dados,
.div-edicao-endereco {
    width: 45%;
    border-radius: 15px;
}

.div-dados,
.div-endereco {
    height: 100px;
    display: flex;
    padding: 20px 30px 20px 30px;
    flex-direction: column;
    justify-content: space-evenly;

}

.config-icon {
    cursor: pointer;
    transition-duration: .1s;
}

.config-icon:hover {
    transition-duration: .1s;
    scale: 1.05;
}

.div-dados h2 {
    width: 70%;
    height: fit-content;
}

.config-icon {
    width: 20%;
    font-size: 30px;
    text-align: end;
}


.first-line {
    display: flex;
    justify-content: space-between;
}

.second-line,
.thrid-line {
    display: flex;
}

h5 {
    display: flex;
    align-items: center;
    opacity: .9;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}

.div-ultimos-pedidos {
    margin-top: 40px;
    width: 100%;
    height: fit-content;
}

.div-lista-pedidos {
    padding: 20px 30px 20px 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 20px;
    text-align: start;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.detalhes {
    text-align: center;
    cursor: pointer;
    color: #0090c5;
    font-weight: 500;
    transition-duration: .1s;
}

.detalhes:hover {
    color: #0090c5;
    scale: 1.04;
    transition-duration: .1s;
}



.mostrar-mais {
    margin-top: 20px;
}
.mostrar-mais > p {
    color: #0090c5;
    text-align: center;
    transition-duration: .1s;
    cursor: pointer;
}

.mostrar-mais > p:hover {
    scale: 1.04;
    transition-duration: .1s;

}

.imagem-produto {
    width: 100px;
}

.ver-detalhes-button {
    border: none;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
    width: 150px;
    font-size: 0.9rem;
    background-color: #0090C5;
}

.coluna-botao{
    text-align: end;
}

.notificacao-body {
    display: flex;    
}

.notificacao-body-nome {
    width: fit-content;
    font-weight: 500;
}

.notificacao-header {
    font-weight: 500;
}

.notificacao-footer-botao {
    margin-right: 10px;
}

.noNotification-container {
    margin: 20px;
}

@media screen and (max-width:850px) {

    .div-edicoes {
        flex-direction: column;
    }

    .div-edicao-dados,
    .div-edicao-endereco  {
        width: 100%;
    }

    .div-edicao-dados { 
        margin-bottom: 20px;
    }

}