<div class="recomendation-container">
    <div class="label-container">
        <div>
            <h2>PERFIL</h2>
            <div></div>
        </div>
    </div>
    <div class="div-perfil">
        <div class="div-edicoes">
            <div class="div-edicao-dados">
                <app-item-frame>
                    <div class="div-dados" item_frame_container>
                        <div class="first-line">
                            <h2>Bem vindo, {{userName}}!</h2>
                            <mat-icon class="config-icon icons" routerLink="/edit-page">settings</mat-icon>
                        </div>
                        <div class="second-line">
                            <mat-icon>email</mat-icon>
                            <h5>{{usuario.email}}</h5>
                        </div>
                        <div class="thrid-line">
                            <mat-icon>phone</mat-icon>
                            <h5>{{telefone}}</h5>
                        </div>
                    </div>
                </app-item-frame>
            </div>
            <div class="div-edicao-endereco">
                <app-item-frame>
                    <div class="div-endereco" item_frame_container>
                        <div class="first-line">
                            <h2>Endereço</h2>
                            <mat-icon class="config-icon icons" routerLink="/edit-page">settings</mat-icon>
                        </div>
                        <div class="thrid-line">
                            <mat-icon>location_city</mat-icon>
                            <h5>{{endereco.cidade}} - {{endereco.estado}}</h5>
                        </div>
                        <div class="second-line">
                            <mat-icon> location_on</mat-icon>
                            <h5>CEP {{endereco.cep}}</h5>
                        </div>
                    </div>
                </app-item-frame>
            </div>
        </div>
        <div class="div-ultimos-pedidos">
            <div class="div-pedidos">
                <app-item-frame>
                    <div class="div-lista-pedidos" item_frame_container>
                        <div class="label-inside-container">
                            <div>
                                <h2>ULTIMOS PEDIDOS</h2>
                                <div class="blue-line"></div>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Número do pedido</th>
                                    <th>Status</th>
                                    <th>Data</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pedido of listaDePedidos">
                                    <td>#{{pedido.id}}</td>
                                    <td>{{pedido.status}}</td>
                                    <td>{{pedido.data}}</td>
                                    <td class="detalhes" [routerLink]="'/ordered-page/' + pedido.id">Detalhes do pedido
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mostrar-mais">
                            <p routerLink="/ordered-page">Mostrar mais</p>
                        </div>
                    </div>
                </app-item-frame>
            </div>
        </div>
        <div class="div-ultimos-pedidos">
            <div class="div-pedidos">
                <app-item-frame>
                    <div class="div-lista-pedidos" item_frame_container>
                        <div>
                            <h2 #notificacao id="notificacao">NOTIFICAÇÕES</h2>
                            <div class="blue-line"></div>
                        </div>
                        <br>
                        <div *ngFor="let notificacao of notifications">
                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header (click)="notificacaoChecar(notificacao.id)">
                                        <mat-panel-title [ngClass]="{'notificacao-header': !notificacao.visualizada}">
                                            {{ notificacao.resposta.respondedor.nome + " respondeu a sua pergunta" }}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="notificacao-body">
                                        <div class="notificacao-body-nome">{{ notificacao.resposta.pergunta.perguntador.nome }}
                                        </div>: {{ notificacao.resposta.pergunta.pergunta }}
                                    </div>
                                    <div class="notificacao-body">
                                        <div class="notificacao-body-nome">{{ notificacao.resposta.respondedor.nome }}
                                        </div>: {{ notificacao.resposta.resposta }}
                                    </div>
                                    <mat-action-row>
                                        <button class="notificacao-footer-botao"
                                            (click)="notificacaoVisualizar(notificacao.resposta.pergunta.produto.id)">
                                            Visualizar
                                        </button>
                                    </mat-action-row>
                                </mat-expansion-panel>
                            </mat-accordion>
                            <br>
                        </div>
                        <div class="mostrar-mais">
                            <p (click)="notificacaoMostrarMais()">Mostrar mais</p>
                        </div>
                    </div>
                </app-item-frame>
            </div>
        </div>
    </div>
</div>