* {
    margin: 0;
}

html {
    height: fit-content;
}

body {
    margin: 0;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    transition: filter 0.3s;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
}

.no-scrollbar {
    position: fixed; 
    top: var(--st, 0);
    inline-size: 100%;
    overflow-y:scroll;
}

mat-icon {
    color: #00569D;
}

button:hover {
    filter: brightness(0.90);
}

mat-form-fild {
    color: #00569D;
}
 .mat-form-field-ripple {
    background-color: #00569D !important;
}


mat-label {
    color: #00569D;
}

.mat-simple-snackbar-action {
    color: white;
}

.mat-snack-bar-container {
    background-color: #0090C5;
    color: #ffffff;
}

.cdk-overlay-pane {
    padding-top: 80px;
}

.mat-input-element {
    caret-color: #0090C5;
}

.mat-badge-active {
    background-color: #0090C5;
}

.mat-badge-content {
    color: transparent;
}

.mat-tab-labels {
    display: flex;
    justify-content: center;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #00569D;
    height: 3px;
}

 .mat-tab-header {
    border-bottom: none;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ffffff;
}