<footer>
    <div class="img-container">
        <img src="../../../assets/images/Weg-Logo_Invertida.png">
    </div>
    <div class="container">
        <div class="title-section">
            <div class="title">WEG S.A. - HEADQUARTERS</div>
            <div class="line"></div>
        </div>
        <div class="text">
            Motores ElétricosAv. Pref. Waldemar Grubba, 3300, Vila Lalau - 89256-900 - Jaraguá do Sul - SC / Brasil
        </div>
        <div class="text">
            Telefone: +55 47 3276-4000
        </div>
        <div class="text">
            E-mail: info-br@weg.net
        </div>
    </div>
    <div class="container">
        <div class="title-section">
            <div class="title">PRODUTOS</div>
            <div class="line"></div>
        </div>
        <div class="link-section">
            <div>
                <div class="text link" routerLink="/category-page/Motores Eletricos">Motores Elétricos</div>
                <div class="text link" routerLink="/category-page/Critical Power">Critical Power</div>
                <div class="text link" routerLink="/category-page/Tintas">Tintas</div>
                <div class="text link" routerLink="/category-page/Geração de Energia">Geração de Energia</div>
            </div>
            <div>
                <div class="text link" routerLink="/category-page/Segurança de Maquinas">Segurança de Máquinas</div>
                <div class="text link" routerLink="/category-page/Painéis Eletrónicos">Painéis Eletrónicos</div>
                <div class="text link" routerLink="/category-page/Building & Infrastructure">Building & Infrastructure</div>
                <div class="text link" routerLink="/category-page/Redutores de Velocidade">Redutores de Velocidade</div>
            </div>
        </div>
    </div>
</footer>