<form (submit)="submit()" class="Container-Cadastro-Cpf">
<!-- finalizado -->
    <section class="Container-Cadastro_Texto">

        {{titulo}}

    </section>

    <section class="Container-Botoes_Cpf_Juridica" *ngIf="!edicao">

        <div class="Custom-Radio">
            <input type="radio" id="radio1" name="radio" value="1" checked>
            <label for="radio1" (click)='pessoaJuridica()'>Pessoa Jurídica</label>
        </div>
        <div class="Custom-Radio">
            <input type="radio" id="radio2" name="radio" value="0">
            <label for="radio2" (click)="pessoaFisica()">Pessoa Física</label>
        </div>

    </section>

    
    <section class="Container-Inputs-Esquerdo">

        <div class="Input-Medio">
            <label for="nome" id="nomeString">{{ textNome }} *</label>
            <input type="text" id="nome" name="nome" [(ngModel)]="nome">
        </div>

        <div class="Container-Input-Pequeno">
            <div class="Input-Pequeno">
                <label for="estado">Estado *</label>
                <input type="text" id="estado" name="estado" [(ngModel)]="estado">
            </div>

            <div class="Input-Pequeno">
                <label for="cidade">Cidade *</label>
                <input type="text" id="cidade"  name="cidade" [(ngModel)]="cidade">
            </div>
        </div>

        <div class="Container-Input-Pequeno">
            <div class="Input-Pequeno">
                <label for="cep">CEP *</label>
                <input type="text" id="cep"  name="cep" [(ngModel)]="cep"> 
            </div>

            <div class="Input-Pequeno">
                <label for="telefone">Telefone *</label>
                <input type="number" id="telefone"  name="telefone" [(ngModel)]="telefone">
            </div>
        </div>

        <div class="Input-Medio">
            <label for="email">E-mail *</label>
            <input type="email" id="email"  name="email" [(ngModel)]="email" [disabled]="edicao">
        </div>

    </section>

    <section class="Container-Inputs-Direito">

        <div class="Input-Medio">
            <label for="cpf">{{ textId }} *</label>
            <input type="text" id="cpf"  name="cpf" [(ngModel)]="cpf" [disabled]="edicao">
        </div>

        <div class="Container-Input-Extra_Pequeno">
            <div class="Input-Extra_Pequeno">
                <label for="bairro">Bairro *</label>
                <input type="text" id="bairro"  name="bairro" [(ngModel)]="bairro">
            </div>

            <div class="Input-Extra_Pequeno">
                <label for="endereco">Endereço *</label>
                <input type="text" id="endereco"  name="endereco" [(ngModel)]="endereco">
            </div>

            <div class="Input-Extra_Pequeno">
                <label for="numero">Número *</label>
                <input type="number" id="numero"  name="numero" [(ngModel)]="numero">
            </div>
        </div>

        <div class="Input-Medio">
            <label for="nomeContato">Nome do contato *</label>
            <input type="text" id="nomeContato"  name="nomeContato" [(ngModel)]="nomeContato">
        </div>

        <div class="Container-Input-Pequeno">
            <div class="Input-Pequeno">
                <label for="senha">Senha *</label>
                <input type="password" id="senha"  name="senha" [(ngModel)]="senha">
            </div>

            <div class="Input-Pequeno">
                <label for="confirmarSenha">Confirmar senha *</label>
                <input type="password" id="confirmarSenha">
            </div>
        </div>
    </section>

    <section class="Container-Botao_Enviar">
        <button class="Container-Botao_Entrar" type="submit">
            <div class="Container-Botao_Entrar-Seta">
                >
            </div>
            <div class="Container-Botao_Entrar-Texto">
                {{acao}}
            </div>
        </button>
    </section>

</form>